// My theme colors
$purple-dark: #9926f0 !default;
$purple-light: #bb6ef5 !default;
$pink: #d122e3 !default;

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: $purple-dark;
$secondary: $pink;

/* Accordion */
$accordion-icon-color:                    $primary;
$accordion-icon-active-color:             $secondary;

$accordion-icon-width: 1.5rem;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");

$font-family-sans-serif: "Roboto", sans-serif, !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

ul {
  list-style-type: none;
  padding: 0;
}

.card .col ul li {
  padding: 0.3rem 0;
}

.list-prices {
  text-align: right;
}

.description-prices {
  text-align: left;
}

#sum-ticket:hover {
  background-color: $primary;
  border: 1px solid $white;
}

#rest-ticket:hover {
  background-color: $primary;
  border: 1px solid $white;
}

@mixin shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)
}

#ticket-checkout:hover {
  @include shadow-sm();
}

.list-group-item:hover {
  background-color: $gray-100;

}


#cart-title, #extra-title {
  color: $primary;
}

#total, #total-title {
  font-weight: 700;
}
